body {
  font-family:  sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}
:root{
     --primary-color: #454DEF;
  --text-white: #ffffff;
  --text-black: #000000;
  --gray-bg: #f1f1f1;
  --light-blue-bg: #cccfff;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --form-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  --font-main: sans-serif;

  --font-xl: 80px;
  --font-lg: 50px;
  --font-md: 40px;
  --font-sm: 20px;
  --font-xs: 12px;
}

.dashboard-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #555;
  margin-bottom: 10px;
}

.card p {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-color);
}

.chart-section {
  margin-top: 40px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

canvas {
  max-width: 100%;
  height: 150px;
  color: var(--primary-color);
}
.move
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.btn{
    background-color: var(--primary-color);
    padding: 10px;
}
.btn a{
    text-decoration: none;
    text-decoration-color: none;
    color: white;
}